/* heading*/
header{
	background-color: rgb(181, 196, 218);	
	margin-bottom: 1em;
	overflow: hidden;
}

#heading a{
	text-decoration: none;
	color: black;
	display: block;
	text-align: center;
	font-size: 125%;
	font-weight: bold;
	padding: 1%;
}

/* ***************** */
/* form */
.container{
	background-color: azure;
	
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;

	text-align: center;
	
	transform: translate(-50%, 1em);	
	left: 50%;
	position: fixed;

/*
	margin-left: auto;
	margin-right: auto;border-color: red;
*/	
}
/*space between boxes小框之间的间隔*/
.form-row{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* outfit of text boxes*/
.form-row #title, .form-row #blog{
	border-width: 1.5px;
	border-radius: 6px;
	border-color: black;
	width: 475px;
}

/* addPost text box*/
.form-row #blog{
	resize: none;
}
